<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="./Log/pegasus.Automation.log" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="3MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value=" T: %d |L: %p |TH: %t |L: %c{2} |MSG: %m %n" />
      </layout>
      <filter type="log4net.Filter.LevelMatchFilter">
        <LevelToMatch value="error" />
      </filter>
      <filter type="log4net.Filter.LevelMatchFilter">
        <LevelToMatch value="info" />
      </filter>
      <filter type="log4net.Filter.LevelMatchFilter">
        <LevelToMatch value="debug" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <root>
      <level value="info" />
      <appender-ref ref="RollingFile" />
    </root>
    <logger name="Pegasus.Automation">
      <level value="All" />
      <appender-ref ref="RollingFile" />
    </logger>
  </log4net>
  <specFlow>
    <unitTestProvider name="MsTest" />
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow>
  <appSettings>
    <!-- Please change the Values for Browser, CourseSpaceURLRoot and WorkSpaceURLRoot Only -->
    <add key="Browser" value="Internet Explorer" />
    <!--Internet Explorer, FireFox, GoogleChrome and Safari-->
    <!-- URL Should end with /-->
    <add key="CourseSpaceURLRoot" value="https://pegasus2.qa.pegasus.pearsoncmg.com/Pegasus/" />
    <!-- URL Should end with /-->
    <add key="WorkSpaceURLRoot" value="http://hed.ws.pegasus2.qa.pegasus.pearsoncmg.com/Pegasus/" />
    <!-- URL Should end with /-->
    <add key="BrowserURL" value="http://portaltest.pearsoncmg.com/mypearson-login.jsp" />
    <!-- Admin URL For MMND -->
    <add key="MMNDCertAdminURLRoot" value="http://adminpages.ecollege-labs.com" />
    <!-- Portal URL For MMND -->
    <add key="MMNDCertPortalURLRoot" value="http://portaltest.pearsoncmg.com/mypearson-login.jsp" />
    <!--Get External CourseID URL-->
    <add key="GetExternalCourseIDURLRoot" value="http://pegasus2.qa.pegasus.pearsoncmg.com/PegasusWSautomation/FetchExternalCourse.aspx" />
    <!--Get Writing Space Assessment Mock URL-->
    <add key="GetWritingSpaceAssessmentMockURLRoot" value="http://pegasus2.qa.pegasus.pearsoncmg.com/PegasusWSautomation/default.aspx" />
    <!--Get Writing Space Item Mock URL-->
    <add key="GetWritingSpaceItemMockURLRoot" value="http://grid-stg.pearson.com/graderepo/courses/" />
    <!--ST, VM, PROD, PPE, DEV and VCD-->
    <!-- Please change the values for Execution Environment /-->
    <add key="TestEnvironment" value="VM"/>    
    <!--URL To instantiate webdriver instance-->
    <!--Do Not make changes below this-->
    <add key="WaitUntillElementSeconds" value="7600" />
    <add key="AssignedToCopyInterval" value="160" />
    <add key="WebDriverTimeOutInSeconds" value="7600" />
    <add key="ElementFindTimeOutInSeconds" value="7600" />
    <add key="CourseLoadElementFindTimeOutInSeconds" value="1500" />
    <add key="Retry_Count" value="3" />
    <add key="InstanceName" value="HED"/>
    <add key="TakeScreenShotDuringEntryExit" value="false" />
    <add key="ScreenShotPath" value="../Logs/ScreenShot/" />
    <add key="SMSAdminURLRoot" value="http://register.cert.pearsoncmg.com/reg/register/reg1.jsp" />
    <add key="SMSAdminStudentURLRoot" value="http://register.cert.pearsoncmg.com/reg/newcourseenroll/CourseIDInput.jsp?NO_SMSUSERID_REQ=true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <!-- MMND Course Integration Id's -->
    <!--Do Not make changes below this-->
    <add key="MMNDCoOrdinate" value="2025220"/>
    <add key ="MMNDNonCoOrdinate" value="2026501"/>
    <add key ="InstructorParameterIdCOCO" value="Peg_CCNG_KL_5000000000000058"/>
    <add key ="InstructorParameterIdNONCOCO" value="Peg_CCNG_KL_5000000000010040"/>
    <add key ="InstructorAssetId" value="056976c6e69849b49427ca05720f0986"/>
    <add key ="StudentAssetId" value="056976c6e69849b49427ca05720f0986"/>
    <add key="CourseSearchTerm" value="P3g4sus"/>
    <!-- SMS Instructor Access Code -->
    <!--Do Not make changes below this-->
    <add key="SMSMMNDInstructorAccessCode" value="BECCQS-GROWS-REBEL-DYFED-HAUNT-NINES"/>
    <add key="SMSMMNDStudentAccessCode" value="PEGS-UVEA-SOME-GALA-IBIS-DOGE"/>

  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>