<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="./Log/pegasus.Automation.log" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="3MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value=" T: %d |L: %p |TH: %t |L: %c{2} |MSG: %m %n" />
      </layout>
      <filter type="log4net.Filter.LevelMatchFilter">
        <LevelToMatch value="error" />
      </filter>
      <filter type="log4net.Filter.LevelMatchFilter">
        <LevelToMatch value="info" />
      </filter>
      <filter type="log4net.Filter.LevelMatchFilter">
        <LevelToMatch value="debug" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <root>
      <level value="info" />
      <appender-ref ref="RollingFile" />
    </root>
    <logger name="Pegasus.Automation">
      <level value="All" />
      <appender-ref ref="RollingFile" />
    </logger>
  </log4net>
  <specFlow>
    <unitTestProvider name="MsTest" />
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow>
  <appSettings>
    <!-- Please change the Values for Browser, CourseSpaceURLRoot and WorkSpaceURLRoot Only -->
    <add key="Browser" value="Internet Explorer" />
    <!--Internet Explorer, FireFox, GoogleChrome and Safari-->
    <!--ST, VM, PROD and PPE-->
    <add key="TestEnvironment" value="ST"/>

    <!--Remote Configuration-->
    <add key="isRemote" value="false" />
    <add key="remoteHubUrl" value="http://jenkins.imfinity.net:4444/wd/hub" />

    <!-- ST Url /-->
    <add key="CourseSpaceURLRootST" value="http://st.56school2.excelindia.com/pegasus/" />
    <add key="WorkSpaceURLRootST" value="http://ph.ws.st.56school2.excelindia.com/pegasus/" />

    <!-- VM Url /-->
    <add key="CourseSpaceURLRootVM" value="http://school2.qa.pegasus.pearsoncmg.com/Pegasus/" />
    <add key="WorkSpaceURLRootVM" value=" http://cg.ws.school2.qa.pegasus.pearsoncmg.com/Pegasus/" />

    <!-- PPE URL /-->
    <add key="CourseSpaceURLRootPPE" value="http://st.56school2.excelindia.com/pegasus/" />
    <add key="WorkSpaceURLRootPPE" value="http://ph.ws.st.56school2.excelindia.com/pegasus/" />

    <!-- PROD URL /-->
    <add key="CourseSpaceURLRootPROD" value="http://st.56school2.excelindia.com/pegasus/" />
    <add key="WorkSpaceURLRootPROD" value="http://ph.ws.st.56school2.excelindia.com/pegasus/" /> 

    <!--Do Not make changes below this-->
    <add key="WaitUntillElementSeconds" value="300" />
    <add key="AssignedToCopyInterval" value="120" />
    <add key="WebDriverTimeOutInSeconds" value="300" />
    <add key="ElementFindTimeOutInSeconds" value="300" />
    <add key="Retry_Count" value="3" />
    <add key="InstanceName" value="NN"/>
    <add key="TakeScreenShotDuringEntryExit" value="false" />
  </appSettings>
</configuration>