<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="./Log/pegasus.Automation.log" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="3MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value=" T: %d |L: %p |TH: %t |L: %c{2} |MSG: %m %n" />
      </layout>
      <filter type="log4net.Filter.LevelMatchFilter">
        <LevelToMatch value="error" />
      </filter>
      <filter type="log4net.Filter.LevelMatchFilter">
        <LevelToMatch value="info" />
      </filter>
      <filter type="log4net.Filter.LevelMatchFilter">
        <LevelToMatch value="debug" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <root>
      <level value="info" />
      <appender-ref ref="RollingFile" />
    </root>
    <logger name="Pegasus.Automation">
      <level value="All" />
    </logger>
  </log4net>
  <specFlow>
    <unitTestProvider name="MsTest" />
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow>
  <appSettings>
    <!--Remote Configuration-->
    <add key="isRemote" value="false" />
    <add key="remoteHubUrl" value="http://jenkins.imfinity.net:4444/wd/hub" />

    <!--Internet Explorer, FireFox, GoogleChrome and Safari-->
    <add key="Browser" value="FireFox" />
    <!--ST, VM, PROD, PPE, DEV and VCD-->
    <!-- Please change the values for Execution Environment /-->
    <add key="TestEnvironment" value="ST"/>

    <!-- ST Url /-->
    <add key="CourseSpaceURLRootST" value="http://st.hedmil57.excelindia.com/Pegasus/" />
    <add key="WorkSpaceURLRootST" value="http://ph.ws.st.hedmil57.excelindia.com/Pegasus/" />

    <!-- VM Url /-->
    <add key="CourseSpaceURLRootVM" value="http://pegasus2.qa.pegasus.pearsoncmg.com/Pegasus/" />
    <add key="WorkSpaceURLRootVM" value=" http://hed.ws.pegasus2.qa.pegasus.pearsoncmg.com/Pegasus/" />

    <!-- PPE URL /-->
    <add key="CourseSpaceURLRootPPE" value="http://mylabs.px.ppe.pearsoncmg.com/pegasus/" />
    <add key="WorkSpaceURLRootPPE" value="http://hed.ws.mylabs.px.ppe.pearsoncmg.com/pegasus/" />

    <!-- PROD URL /-->
    <add key="CourseSpaceURLRootPROD" value="http://mylabs.px.pearsoned.com/Pegasus/" />
    <add key="WorkSpaceURLRootPROD" value="http://ph.ws.st.hedmil57.excelindia.com/Pegasus/" />

    <!-- VCD URL /-->
    <add key="CourseSpaceURLRootVCD" value="http://pegasqausvcd.ecollege-labs.com/pegasus/" />
    <add key="WorkSpaceURLRootVCD" value="http://cgwspegasusqavcd.ecollege-labs.com/pegasus/" />

    <!--Do Not make changes below this-->
    <add key="AssignedToCopyInterval" value="120" />
    <add key="WebDriverTimeOutInSeconds" value="450" />
    <add key="ElementFindTimeOutInSeconds" value="450" />
    <add key="SIM5LaunchWaitTimeInSeconds" value="120" />
    <add key="Retry_Count" value="3" />
    <add key="TakeScreenShotDuringEntryExit" value="false" />

    <!-- SMS Admin Url, Access Code and Module Id -->
    <!-- SMS ST /-->
    <add key="SMSAdminURLRootST" value="http://register.cert.pearsoncmg.com/reg/" />
    <add key="SMSInstructorAccessCodeST" value="PGCIEN-CAPT-SOME-GALA-THOU-FROM"/>
    <add key="SMSStudentAccessCodeST" value="PGCISN-MALL-SOME-GALA-DASH-KAKI"/>
    <add key="SMSModuleIDST" value="2731"/>

    <!-- SMS VM /-->
    <add key="SMSAdminURLRootVM" value="http://register.cert.pearsoncmg.com/reg/" />
    <add key="SMSInstructorAccessCodeVM" value="PGCIEN-CAPT-SOME-GALA-THOU-FROM"/>
    <add key="SMSStudentAccessCodeVM" value="PGCISN-MALL-SOME-GALA-DASH-KAKI"/>
    <add key="SMSModuleIDVM" value="2731"/>

    <!-- SMS VCD /-->
    <add key="SMSAdminURLRootVCD" value="http://register.cert.pearsoncmg.com/reg/" />
    <add key="SMSInstructorAccessCodeVCD" value="PGCIEN-CAPT-SOME-GALA-THOU-FROM"/>
    <add key="SMSStudentAccessCodeVCD" value="PGCISN-MALL-SOME-GALA-DASH-KAKI"/>
    <add key="SMSModuleIDVCD" value="2731"/>

    <!-- SMS PPE /-->
    <add key="SMSAdminURLRootPPE" value="http://registerppe.pearsoncmg.com/reg/" />
    <add key="SMSInstructorAccessCodePPE" value="PEGPEI-PASHM-OSMIC-VARNA-LEWIS-SITES"/>
    <add key="SMSStudentAccessCodePPE" value="PEGPER-SETUP-OSMIC-VARNA-INGOT-HONES"/>
    <add key="SMSModuleIDPPE" value="40153"/>

    <!-- SMS PROD /-->
    <add key="SMSAdminURLRootPROD" value="http://register.cert.pearsoncmg.com/reg/" />
    <add key="SMSInstructorAccessCodePROD" value="PGCIEN-CAPT-SOME-GALA-THOU-FROM"/>
    <add key="SMSStudentAccessCodePROD" value="PGCISN-MALL-SOME-GALA-DASH-KAKI"/>
    <add key="SMSModuleIDPROD" value="2731"/>
  </appSettings>
</configuration>