<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="./Log/pegasus.Automation.log" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="3MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value=" T: %d |L: %p |TH: %t |L: %c{2} |MSG: %m %n" />
      </layout>
      <filter type="log4net.Filter.LevelMatchFilter">
        <LevelToMatch value="error" />
      </filter>
      <filter type="log4net.Filter.LevelMatchFilter">
        <LevelToMatch value="info" />
      </filter>
      <filter type="log4net.Filter.LevelMatchFilter">
        <LevelToMatch value="debug" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <root>
      <level value="info" />
      <appender-ref ref="RollingFile" />
    </root>
    <logger name="Pegasus.Automation">
      <level value="All" />
    </logger>
  </log4net>
  <specFlow>
    <unitTestProvider name="MsTest" />
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow>
  <appSettings>
    <!--Remote Configuration-->
    <add key="isRemote" value="false" />
    <add key="remoteHubUrl" value="http://10.52.132.38:4444/wd/hub" />

    <!--Internet Explorer, FireFox, Chrome and Safari-->
    <add key="Browser" value="Chrome" />
    <!--Possible values - CGIE, VCD, PROD , PPE ,CGIEAkamai,VCDAkamai,PPEAkamai ,PRODAkamai ,VCDNP , CGIENP -->
    <!-- Please change the values for Execution Environment. Environment value is case insensitive./-->
    <add key="TestEnvironment" value="PPE"/>

    <!-- VCD Url /-->
    <add key="CourseSpaceURLRootVCD" value="http://pegasqausvcd.ecollege-labs.com/Pegasus/" />
    <add key="WorkSpaceURLRootVCD" value="http://cgwspegasusqavcd.ecollege-labs.com/pegasus/" />

    <!-- CGIE Url /-->
    <add key="CourseSpaceURLRootCGIE" value="http://pegasus5.qa.pegasus.pearsoncmg.com/pegasus/" />
    <add key="WorkSpaceURLRootCGIE" value="http://cg.ws.pegasus5.qa.pegasus.pearsoncmg.com/pegasus/" />

    <!-- PPE URL /-->
    <!--Modified PPE value to include complete login url so that it works even when there are issues with SMS -->
    <add key="CourseSpaceURLRootPPE" value="http://mylabs.px.ppe.pearsoncmg.com/Pegasus/frmLogin.aspx?s=3" />
    <add key="WorkSpaceURLRootPPE" value="http://hed.ws.mylabs.px.ppe.pearsoncmg.com/pegasus/" />

    <!-- PROD URL /-->
    <add key="CourseSpaceURLRootPROD" value="http://mylabs.px.pearsoned.com/Pegasus/" />
    <add key="WorkSpaceURLRootPROD" value="http://hed.ws.mylabs.px.pearsoned.com/Pegasus/" />

    <!-- VCDAkamai Url /-->
    <!--Currently Akamai URL is unavailable for VCD-->
    <add key="CourseSpaceURLRootVCDAkamai" value="http://pegasqausvcd.ecollege-labs.com/Pegasus/" />
    <add key="WorkSpaceURLRootVCDAkamai" value="http://cgwspegasusqavcd.ecollege-labs.com/pegasus/" />

    <!-- BlackBoard kiosk and direct Instructor URL Root CGIE,VCD,Prod/-->
    <add key="BBInstructorURLRootCGIE" value="https://pearsonintegrationqa1.blackboard.com" />
    <add key="BBInstructorURLRootVCD" value="https://pearsonintegrationqa1.blackboard.com" />

    <!-- MMND direct URL Root PPE, CGIE,VCD,Prod/-->
    <add key="MMNDDirectURLPPE" value="https://portalppe.pearsoncmg.com/login" />
    
    
    <!-- D2L kiosk and direct integration URL Root CGIE, VCD, Prod/-->
    <add key="D2LKioskUrlRootCGIE" value="http://pearsoned.brightspacetrial.com/" />
    <add key="D2LKioskUrlRootVCD" value="https://pearsoned.desire2learndemo.com/" />
    <add key="D2LKioskUrlRootPROD" value="https://pearsoned.desire2learndemo.com/" />
    <add key="D2LKioskUrlRoot1PPE" value ="http://pearsoned.brightspacetrial.com"/>

    <!-- Canvas kiosk URL Root CGIE, VCD, Prod/-->
    <add key="CanvasKioskUrlRootCGIE" value="https://pearson.instructure.com/" />
    <add key="CanvasKioskUrlRootVCD" value="https://pearson.instructure.com/login" />
    <add key="CanvasKioskUrlRootPROD" value="https://pearson.instructure.com/" />

    <!-- Moodle kiosk URL Root CGIE, VCD, Prod/-->
    <add key="MoodleKioskUrlRootCGIE" value="http://tpstest.bitnamiapp.com/moodle" />
    <add key="MoodleKioskUrlRootVCD" value="http://tpstest.bitnamiapp.com/moodle" />
    <add key="MoodleKioskUrlRootPROD" value="http://tpstest.bitnamiapp.com/moodle" />

    <!-- eCollege URL Root CGIE, VCD, Prod/-->
    <add key="eCollegeURLRootTestEnvironment" value="https://secure.ecollege.com/cert/index.learn?"/>
   
    <!-- CGIEAkamai Url /-->
    <add key="CourseSpaceURLRootCGIEAkamai" value="http://global.pegasus5.qa.pegasus.pearsoncmg.com/pegasus/" />
    <add key="WorkSpaceURLRootCGIEAkamai" value="http://cg.ws.pegasus5.qa.pegasus.pearsoncmg.com/pegasus/" />

    <!-- PPEAkamai URL /-->
    <add key="CourseSpaceURLRootPPEAkamai" value="http://global.mylabs.px.ppe.pearsoncmg.com/Pegasus/" />
    <add key="WorkSpaceURLRootPPEAkamai" value="http://hed.ws.mylabs.px.ppe.pearsoncmg.com/pegasus/" />

    <!-- PRODAkamai URL /-->
    <add key="CourseSpaceURLRootPRODAkamai" value="http://global.mylabs.px.pearsoned.com/Pegasus/" />
    <add key="WorkSpaceURLRootPRODAkamai" value="http://hed.ws.mylabs.px.pearsoned.com/Pegasus/" />

    <!-- VCDNP Url /-->
    <!--Currently Akamai URL is unavailable for VCD-->
    <add key="CourseSpaceURLRootVCDNP" value="http://pegasus1qausvcd.ecollege-labs.com/Pegasus/" />
    <add key="WorkSpaceURLRootVCDNP" value="http://cgwspegasus1qavcd.ecollege-labs.com/pegasus/" />

    <!-- CGIENP Url /-->

    <add key="CourseSpaceURLRootCGIENP" value="http://global.pegasus5.qa.pegasus.pearsoncmg.com/pegasus/" />
    <add key="WorkSpaceURLRootCGIENP" value="http://cg.ws.pegasus5.qa.pegasus.pearsoncmg.com/pegasus/" />

    <!--Do Not make changes below this-->
    <add key="AssignedToCopyInterval" value="120" />
    <add key="WebDriverTimeOutInSeconds" value="10" />
    <add key="ElementFindTimeOutInSeconds" value="10" />
    <add key="SIM5LaunchWaitTimeInSeconds" value="600" />
    <add key="InstanceName" value="HED-MyITLab"/>
    <add key="Retry_Count" value="3" />
    <add key="TakeScreenShotDuringEntryExit" value="false" />

    <!-- SMS Admin Url, Access Code and Module Id -->

    <!-- SMS CGIE /-->
    <add key="SMSAdminURLRootCGIE" value="http://register.cert.pearsoncmg.com/reg/" />
    <add key="SMSInstructorAccessCodeCGIE" value="PGCIEN-CAPT-SOME-GALA-THOU-FROM"/>
    <add key="SMSStudentAccessCodeCGIE" value="PGCISN-MALL-SOME-GALA-DASH-KAKI"/>
    <add key="SMSModuleIDCGIE" value="2731"/>

    <!-- SMS VCD /-->
    <add key="SMSAdminURLRootVCD" value="http://register.cert.pearsoncmg.com/reg/" />
    <add key="SMSInstructorAccessCodeVCD" value="PGCIEN-CAPT-SOME-GALA-THOU-FROM"/>
    <add key="SMSStudentAccessCodeVCD" value="PGCISN-MALL-SOME-GALA-DASH-KAKI"/>
    <add key="SMSModuleIDVCD" value="2731"/>

    <!-- SMS PPE /-->
    <add key="SMSAdminURLRootPPE" value="http://registerppe.pearsoncmg.com/reg/" />
    <add key="SMSInstructorAccessCodePPE" value="PEGPEI-PASHM-OSMIC-VARNA-LEWIS-SITES"/>
    <add key="SMSStudentAccessCodePPE" value="PEGPER-SETUP-OSMIC-VARNA-INGOT-HONES"/>
    <add key="SMSModuleIDPPE" value="40153"/>

    <!-- SMS PROD /-->
    <add key="SMSAdminURLRootPROD" value="http://register.cert.pearsoncmg.com/reg/" />
    <add key="SMSInstructorAccessCodePROD" value="PGCIEN-CAPT-SOME-GALA-THOU-FROM"/>
    <add key="SMSStudentAccessCodePROD" value="PGCISN-MALL-SOME-GALA-DASH-KAKI"/>
    <add key="SMSModuleIDPROD" value="2731"/>
  </appSettings>
</configuration>